/* .App {
  text-align: center;
} */
.navBar{
  background-color: blue;
  padding: 20px;
}
.navItem{
  color: white !important;
}

.cardSection{
 display: flex;
 justify-content: space-around;
 margin-top: 50px;
 margin-bottom: 50px;
}

.cardBox{
  margin: 50px;
}
.Section2Body{
  background-color: lightgrey;
  padding: 100px;
}
.section2{
  margin: 100px;
}
.section2Image{
  background-color: red;
 
}